<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <style>

    </style>
</head>
<body>

<script src="{% static '/js/jquery-3.6.1.js' %}"> </script>
<script src="{% static '/js/bootstrap.min.js' %}"> </script>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>IP地理定位系统</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/index/">定位库</a></li>
        <li class="active"><a href="/locate/">IP定位查询<span class="sr-only">(current)</span></a></li>
        <li><a href="/user/list/">用户管理</a></li>
<li><a href="/detect/list/">探测器</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ current_user}} <span class="caret"></span></a>
          <ul class="dropdown-menu">

            <li><a href="/logout/">退出登录</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

        <div class="row1" style="margin-top:20px">
          <form  method="post">
{% csrf_token %}
             <div class="col-lg-6" style="margin-bottom:30px">
      <div style="margin:10px 0px "> 请输入需进行地理定位的IP的地址</div>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="IP" name="ip">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit" > Go!</button>
      </span>
    </div><!-- /input-group -->
  </div>
          </form>
 <!-- /.col-lg-6 -->
</div><!-- /.row -->


    <table class="table table-ip table-striped" style="margin-top:50px;" role="presentation">

        {% if type %}
								<tbody>

									<tr>
										<td>
											<div><label><strong>国家</strong></label></div>
                                            {{query_result.country}}
										</td>
										<td>
											<div><label><strong>区域</strong></label></div>
											{{query_result.regionName}}
										</td>
										<td>
											<div><label><strong>市</strong></label></div>
                                            {{query_result.city}}
										</td>
									</tr>
									<tr>
										<td>
											<div><label><strong>邮政编码</strong></label></div>
											---
										</td>
										<td>
											<div><label><strong>纬度</strong></label></div>
											{{query_result.lat}}
										</td>
										<td>
											<div><label><strong>经度</strong></label></div>
											{{query_result.lon}}
										</td>
									</tr>



								</tbody>
        {% elif type == 0%}

        <tbody>
        <tr>
										<td>
											<div><label><strong>地址</strong></label></div>
                                            {{query_result.address}}
										</td>
										<td>
											<div><label><strong>邮编</strong></label></div>
											{{query_result.mail}}
										</td>
										<td>
											<div><label><strong>纬度</strong></label></div>
                                            {{query_result.latitude}}
										</td>
                                        <td>
											<div><label><strong>经度</strong></label></div>
                                            {{query_result.longitude}}
										</td>
									</tr>
        </tbody>
        {% endif %}




							</table>


</body>
</html>